
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>
<header th:insert="fragments/header :: header"></header>


<div class="container mt-5" ></div>



<div class="container text-center">

<div class="card">
    <div class="card-body">

        <div class="container text-center">


        </div>
        <h3 class="text-center">MINIBUS. Наша пунктуальность - это ваша уверенность в бизнесе и отдыхе.</h3>
       <p><br><br><br>
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="row">Контактная информация</th>
            </tr>

            <tr>
                <th scope="row">Velcom-A1,</th>
                <td>0000</td>
            </tr>

            <tr>
                <th scope="row">Мтс</th>
                <td>00000</td>
            </tr>
            <tr>
                <th>    График работы</th>
            </tr>
            <tr>
                <th>  Диспетчерская служба</th>
                <td>  Ежедневно с 6:30 до 22:00</span></td>
            </tr>

            </thead>
        </table>
    </div>
</div>




</div>


<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
