<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<!-- start banner Area -->
<section class="banner-area relative" xmlns:th="http://www.thymeleaf.org">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <!--        <div class="row fullscreen align-items-center justify-content-between">-->
        <div class="col-lg-12 col-md-6 banner-left">
            <h6 class="text-white">Пассажирские перевозки на всей территории Республики Беларусь</h6>
            <h1 class="text-white">MiniBus</h1>



            <div>
                <ul class="nav-menu">
                    <li><a href="/home">Главная страница</a></li>
                    <li><a href="/allroutes">Расписание</a></li>

                    <li><a href="/routess">Популярные направления</a></li>
                    <li><a href="/PPP">Правила проезда</a></li>
                    <li><a href="/blog">О нас</a></li>


                </ul>

            </div>




            <a  sec:authorize="isAuthenticated()">

                <a  href="/profile">
                    <th:block th:if="${#request.getRemoteUser() != null}"
                              th:text="${#request.getRemoteUser()}"></th:block>
                </a>
            </a>
            <a  sec:authorize="isAuthenticated()">
                <a  href="/ticket-cart">
                    Личный кабинет
                </a>
            </a>
            <a  sec:authorize="!isAuthenticated()">
                <a  href="/login"> Войти
                </a>
            </a>
            <a sec:authorize="isAuthenticated()">
                <a  href="/logout">
                    Выход
                </a>
            </a>

        </div>                           </div>

    </div>
    </div>
    </div>
</section>
<!-- End banner Area -->

<div class="fillform">
    <h1>Добавить рейс</h1>
</div>

<form action="#" th:action="@{/save}" th:object="${route}"
      method="post">

    <table border="0" cellpadding="10">
        <tr>
<!--            <td><label for="id">ID</label></td>-->
<!--            <td><input type="text" id="id" th:field="*{id}"-->
<!--                       autocomplete="off" required="required"></td>-->



            <td><label for="fromA">Город отправления</label></td>
            <td><input type="text" autocomplete="off" id="fromA" th:field="*{fromA}"
                       required="required"></td>
        </tr>

        <tr>
            <td><label for="toA">Город прибытия</label></td>
            <td><input type="text" autocomplete="off" id="toA" th:field="*{toA}"
                       required="required"></td></tr>
<tr>
            <td><label for="dept_date">Дата отправления</label></td>
            <td><input type="text" autocomplete="off" id="dept_date" th:field="*{dept_date}"
                        required="required"></td>
        </tr>
        <tr>

            <td><label for="dept_time">Время отправления</label></td>
            <td><input type="text" autocomplete="off" id="dept_time"
                       th:field="*{dept_time}" required="required"></td>
        </tr>
        <tr>
            <td><label for="arr_time">Время прибытия</label></td>
            <td><input type="text" autocomplete="off" id="arr_time"
                       th:field="*{arr_time}" required="required"></td>
        </tr><tr>
            <td>Статус</td>
            <td><input type="radio" id="active" name="status" value="active"
                       required="required"> <label for="active" th:field="*{status}">Активный</label> <input
                    type="radio" id="inactive" name="status"  value="inactive"> <label
                    for="inactive">Неактивный</label></td>

        </tr>



        <tr>

            <td><label for="e_seats_left">Мест в наличии</label></td>
            <td><input type="number" autocomplete="off" id="e_seats_left"
                       th:field="*{seats_left}" required="required"></td>
        </tr>

        <tr>
            <td><label for="e_seat_price">Стоимость билета</label></td>
            <td><input type="number" autocomplete="off" id="e_seat_price"
                       th:field="*{seat_price}" required="required"></td>
        </tr>

            <td></td>

            <td><button type="submit" id="submit">Сохранить</button></td>
        </tr>
    </table>
</form>



</body>
</html>