
<!DOCTYPE html>
<html>
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Find Routes
    </title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<h1>Result</h1>

<form method="post" th:object="${order}" th:action="@{/completeReservation}" >

<small id="routeDetails" class="form-text text-muted"><strong>Route Details</strong></small>
<div class="form-group row">
    <label for="source" class="col-sm-4 col-form-label">From</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="source" th:value="${route.dept_date}" name="source" readonly>
    </div>
</div>
<div class="form-group row">
    <label for="destination" class="col-sm-4 col-form-label">To</label>
    <div class="col-sm-8">
        <input type="text" class="form-control" id="destination" name="destination" th:value="${route.fromA}" readonly>
    </div>
</div>

<!--<div class="form-group row">-->
<!--    <label for="operatingAirlines" class="col-sm-4 col-form-label">Operating Airlines</label>-->
<!--    <div class="col-sm-8">-->
<!--        <input type="text" class="form-control" id="operatingAirlines" th:value="${route.toA}" name="operatingAirlines" readonly>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="form-group row">-->
<!--    <label for="estimatedDepartureTime" class="col-sm-4 col-form-label">Estimated Departure</label>-->
<!--    <div class="col-sm-8">-->
<!--        <input type="text" class="form-control" id="estimatedDepartureTime" th:value="${route.fromA}" name="estimatedDepartureTime" readonly>-->

<!--    </div>-->
<!--</div>-->
<div class="form-group row">
    <label for="destination" class="col-sm-4 col-form-label">Логин</label>

    <div class="col-sm-8">
        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" readonly>
    </div>


    <label for="destination" class="col-sm-4 col-form-label">Логин</label>

    <div class="col-sm-8">
        <input type="text" class="form-control" id="userId" name="userId" th:value="${user.id}" readonly>
    </div>

    <label for="destination" class="col-sm-4 col-form-label">Логин</label>

    <div class="col-sm-8">
        <input type="text" class="form-control" id="routeId" name="routeId" th:value="${route.id}" readonly>
    </div>

    <label for="destination" class="col-sm-4 col-form-label">Логин</label>

    <div class="col-sm-8">
        <input type="text" class="form-control" id="userEmail" name="userEmail" th:value="${user.email}" readonly>
    </div>
</div>
    <div class="form-group row">
        <label for="destination" class="col-sm-4 col-form-label">Имя</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="name" name="name" th:value="${user.name}" readonly>
        </div>

    </div>
    <div class="form-group row">
        <label for="destination" class="col-sm-4 col-form-label">Фамилия</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="lastname" name="lastname" th:value="${user.lastname}" readonly>
        </div>

    </div>
    <div class="form-group row">
        <label for="destination" class="col-sm-4 col-form-label">E-mail</label>

        <div class="col-sm-8">
            <input type="text" class="form-control" id="email" name="email" th:value="${user.email}" readonly>
        </div>

    </div>

    <input type="number" autocomplete="off" id="pass_enter_seats" name="passEnterSeats"    th:field="*{passEnterSeats}" th:max="${route.seats_left}"  required="required">


    <button type="submit" class="btn btn-lg btn-success">Забронировать</button>

</form>




</body>
</html>