<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cghfdjxyz byajhvfwbz</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>

<header th:insert="fragments/header :: header"></header>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">

    <div class="rule">
        <h3> Общие положения</h3>
        <p>1. Во время движения автобуса запрещено курить, употреблять алкогольные напитки, наркотики. При невыполнении требований данного пункта перевозчик оставляет за собой право высадить пассажира без возвращения стоимости билета.
        <p>2. Перевозчик имеет право не пустить в маршрутное такси пассажира, который:
        пришел на посадку в нетрезвом состоянии;
        с явными признаками нездоровья, что предоставляет опасность для других пассажиров маршруткного такси;
        нарушает правила поведения в общественных местах, действия которого могут быть опасными для окружающих пассажиров.
        <p>3. Запрещено перевозить вещества и предметы, опасные для жизни и здоровья человека, а также вещества и предметы, которые могут нанести вред имуществу других пассажиров или повредить транспортное средство.
        <p> 4. Перевозчик не отвечает за потерю пассажирских денег, бижутерии, паспорта, ценных бумаг и других ценностей, которые не находятся в багажном отделении. За сохранность ручной клади отвечает пассажир.
        <p> 5. Перевозчик не несет ответственность за оставленные в маршруткном такси вещи.
        <p> 6. Перевозчик не отвечает за опоздание во время движения, которое возникло по независимым от него причинам (погодные условия, задержка во время прохождения границы, заторы и/или ремонт на дорогах, действие государственных органов и т.д.).
        <p> 7.Все жалобы, которые касаются обслуживания пассажира на рейсе, принимаются к рассмотрению только в письменном виде.
        <div th:each="el : ${rule}" class="alert -info mt-4">
            <h1 th:text="${el.title}"/>
            <p th:text="${el.full_text}"/>

        </div>
        <h3> Обязанности перевозчика</h3>
        <p> 1. Обеспечить своевременную подачу транспортного средства для посадки пассажиров и их отправки в соответствии с расписанием движения.
        <p> 2. Предоставить пассажирам посадочные места, соответствующее приобретенным проездным документам.
        <p> 3. Доставить пассажиров и их багаж в пункт назначения.
        <p> 4. Обеспечить безопасность перевозки и качественное обслуживание пассажиров в маршрутное такси.
        <p> 5. Руководствоваться правилами дорожного движения и правилами технической эксплуатации маршрутное такси.
        <p> 6. Соблюдать правила пограничного, таможенного и других видов контроля государства, по территории которого совершается международная перевозка.
        <p> 7. Содержать транспортное средство в надлежащем техническом и санитарном состоянии.
        <p> 8. Принять и разместить в багажные отделения вещи пассажиров. Выдать багаж в пункте прибытия пассажиров.
        <p> 9. Осуществлять посадку и высадку пассажиров только после остановки транспортного средства в специально отведенных местах либо на обочине.
        <p> 10. Предоставить пассажирам необходимую и достоверную информацию об оказываемых услугах.</div>
</div>
<h2>Совершайте поездки с MINIBUS с комфортом!</h2>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>