<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title>Блог сайта</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">

</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div th:insert="blocks/header :: header"></div>
<!-- start banner Area -->
<section class="about-banner relative" id="banners">


</section>
<!-- End banner Area -->

<br/>

<div class="container text-center" >

    <div class="container text-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="/userAccount">Личный кабинет</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userAccount/settings">Редактировать данные</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/userAccount/myorders">Мои заказы</a>
            </li>


        </ul>
    </div>
    <br/>
</div>

<div class="container" xmlns:th="http://www.thymeleaf.org">

    <section>
        <form method="POST" th:action="@{'/userAccount/{username}' (username=${#request.getRemoteUser()})}">
            <div class="form-group">
                <label for="usernameOfUser">Логин</label>
                <input type="text"
                       class="form-control"
                       id="usernameOfUser"
                       name="usernameOfUser"
                       th:value="${user?.get().getUsername()}"
                       required>
            </div>



            <div class="form-group">
                <label for="nameOfUser">Имя</label>
                <input type="text"
                       class="form-control"
                       id="nameOfUser"
                       name="nameOfUser"
                       th:value="${user?.get().getName()}"
                       required>
            </div>

            <div class="form-group">
                <label for="lastnameOfUser">Фамилия</label>
                <input type="text"
                       class="form-control"
                       id="lastnameOfUser"
                       name="lastnameOfUser"
                       th:value="${user?.get().getLastname()}"
                       required>
            </div>

            <div class="form-group">
                <label for="phoneOfUser">Номер телефона</label>
                <input type="text"
                       class="form-control"
                       id="phoneOfUser"
                       name="phoneOfUser"
                       th:value="${user?.get().getPhone()}"
                       required>
            </div>

            <div class="form-group">
                <label for="emailOfUser">Email</label>
                <input type="text"
                       class="form-control"
                       id="emailOfUser"
                       name="emailOfUser"
                       th:value="${user?.get().getEmail()}"
                       required>
            </div>
            <button  type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </section>

    <br/>

    <form th:action="@{'/user/delete/{username}' (username=${#request.getRemoteUser()})}"
          th:method="POST">
        <button type="submit" class="btn btn-sm btn-danger "><i
                class="fa fa-trash">Удалить аккаунт</i>
        </button>
    </form>
    <br/>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>