<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
ffff
<!--<div class="form-group label-floating">-->
<!--    <label>Username</label>-->
<!--    <input type="text" name="username"-->
<!--           th:value="${user.name}"/>-->

<!--</div>-->
<!--<table>-->
<!--<td th:each="user : ${user}">-->

<div class="form-group label-floating">
    <label>Username</label>
    <input type="text" name="username"
           th:value="${user.username}"/>
</div>


<!--    &lt;!&ndash;    <a th:if="${username == user.username}" th:href="@{/userList/{user_id}/saveClasses/{classes_id} (user_id=${user.id}, classes_id=${classes.id})}">Attend</a>&ndash;&gt;-->
<!--</table>-->
</body>
</html>