





<div th:fragment="header">
<!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  mb-3 bg-secondary " >-->
<!--    <a href="/" class="d-flex align-items-center text-dark text-decoration-none "></a>-->
<!--        <h5 class="my-o px-5 mr-md-auto font-weight-bold">MiniBus</h5>-->
<!--    <img th:src="@{`img/Minibuslogo.png}">-->
<!--        <img th:src="@{`img/download1.png}">-->


    <nav class="col-md-5 my-md-0 mr-md-5">
            <a class="p-2 text-white " href="/search">Поиск билета</a>
            <a class="p-1   text-white " href="/about">О нас</a>
            <a class="p-1   text-white " href="/blog">Справочная информация</a>
            <a class="p-1   text-white " href="/blog/add">Добавить статью</a>

        </nav>

    <div class="col-md-5 text-end">
        <button type="button" class="btn btn-secondary">Вход</button>
        <button type="button" class="btn btn-secondary">Регистрация</button>
    </div>

</div>
</div>